<section id="social" class="lazyload">
  <div class="container">
    <div class="social-extra">

      <div class="social-medias">
        <h4><%= data.main.footer_title %></h4>

        <ul>
          <% if data.main.facebook_link %>
          <li class="social-facebook">
            <a href="<%= data.main.facebook_link %>" target="_blank" rel="noopener" title="opens in a new tab" class="hoverable">
              <figure class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                  <path class="circle" d="M250 10a240 240 0 0193.4 461.1A240 240 0 01156.6 29 238.6 238.6 0 01250 10m0-10a250 250 0 100 500 250 250 0 000-500z"/>
                  <path class="logo-secondary" d="M250 0a250 250 0 100 500 250 250 0 000-500z" fill="#359113"/>
                  <path class="logo-main" d="M331 96.3v49.5h-29.5q-16.1 0-21.7 6.7t-5.6 20.3v35.4H329l-7.3 55.5h-47.6V406h-57.4V263.7H169v-55.5h47.8v-40.9q0-34.8 19.5-54t52-19.3q27.5 0 42.7 2.3z"/>
                </svg>
              </figure>
            </a>
          </li>
          <% end %>


          <% if data.main.spotify_link %>
          <li class="social-spotify">
            <a href="<%= data.main.spotify_link %>" target="_blank" rel="noopener" title="opens in a new tab" class="hoverable">
              <figure class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                  <path class="circle" d="M250 10a240 240 0 0193.4 461.1A240 240 0 01156.6 29 238.6 238.6 0 01250 10m0-10a250 250 0 100 500 250 250 0 000-500z"/>
                  <path class="logo-secondary" d="M250 0a250 250 0 100 500 250 250 0 000-500zm115.9 376.3a18 18 0 01-26 12.3c-4.4-2.2-8.5-4.9-12.8-7.2a212.6 212.6 0 00-63.8-21.4 276 276 0 00-75.4-2.2 420.2 420.2 0 00-50 8.2 17.9 17.9 0 01-21.9-13.8c-2.3-10.6 3.6-20.7 13.9-23a394.4 394.4 0 0188-10.6c35.4 0 69.8 5.3 102.9 18.4a219.5 219.5 0 0136 17.9c7.8 5 11 12.8 9.1 21.4zm28.5-72.8a21.5 21.5 0 01-31.5 13.3c-7.8-4.2-15.6-8.5-23.6-12.3a278.4 278.4 0 00-73.6-21.8c-25.9-4.2-52-5.2-78.1-2.9a254 254 0 00-52.5 9.6c-12.5 3.8-24.5-2.1-28.1-13.9-3-9.8-.3-24.6 15-29.1 19.1-5.6 38.6-9.8 58.4-11.5 11.6-1 23.2-1.4 29-1.8 56.6.3 105.5 9.7 151.6 31.7 7.8 3.7 15.5 8 23 12.4 9.2 5.6 13.1 16 10.4 26.3zm28-74.5a25.5 25.5 0 01-31.1 7.2c-7.2-3.6-14.1-7.7-21.4-11.1a294.4 294.4 0 00-69.1-21.4 428.4 428.4 0 00-91.1-7.4 342 342 0 00-85.9 12.2c-15.7 4.5-29.8-3.8-33.1-19.1a25.9 25.9 0 0118.2-30.9c20.8-6.2 42-10.2 63.6-12.1 15.9-1.4 31.8-2.1 47.7-3 47.2.9 93.4 6.8 138.4 21.4a294.7 294.7 0 0156 24.8c15.6 9 15.8 29.4 7.8 39.4z" />
                  <path class="logo-main" d="M356.7 355c-11.4-7.1-23.5-13-36-17.9a276.3 276.3 0 00-102.9-18.4c-29.7 0-59 4-88 10.6a19 19 0 00-13.9 23 18 18 0 0021.9 13.8c16.5-3.8 33.1-6.6 50-8.2a280 280 0 0175.4 2.2 212.6 212.6 0 0163.8 21.4c4.3 2.3 8.4 4.9 12.8 7.2a18 18 0 0026-12.3 19 19 0 00-9.1-21.4zM414.6 189.5a294.7 294.7 0 00-56-24.8 467.2 467.2 0 00-138.4-21.4c-15.9 1-31.8 1.7-47.7 3a313.3 313.3 0 00-63.6 12.1c-13.6 4-21.2 17-18.2 30.9 3.3 15.3 17.4 23.6 33.1 19.1a342 342 0 0185.9-12.2c30.6-.7 61 1.6 91.1 7.4a293 293 0 0169.1 21.4c7.3 3.4 14.2 7.5 21.4 11.1a25.5 25.5 0 0031.1-7.2c8-9.9 7.8-30.3-7.8-39.4zM383.8 277.3c-7.5-4.4-15.1-8.7-23-12.4-46.1-21.9-94.9-31.4-151.6-31.7-5.8.3-17.4.8-29 1.8a290.3 290.3 0 00-58.4 11.5c-15.3 4.5-18 19.3-15 29.1 3.6 11.8 15.7 17.7 28.1 13.9 17.1-5.2 34.7-8.1 52.5-9.6a319 319 0 0178.1 2.9 277.3 277.3 0 0173.6 21.8c8 3.7 15.8 8.1 23.6 12.3 12.8 6.8 27.8.4 31.5-13.3 2.9-10.4-1-20.8-10.4-26.3z"/>
                </svg>
              </figure>
            </a>

            <figure class="iframe-wrapper"><iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:2IuyNLh0cXHRB5svJzLP1I&size=detail&theme=dark" width="300" height="65" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></figure>
          </li>
          <% end %>

          <% if data.main.instagram_link %>
          <li class="social-instagram">
            <a href="<%= data.main.instagram_link %>" target="_blank" rel="noopener" title="opens in a new tab" class="hoverable">
              <figure class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                  <path class="circle" d="M250 10a240 240 0 0193.4 461.1A240 240 0 01156.6 29 238.6 238.6 0 01250 10m0-10a250 250 0 100 500 250 250 0 000-500z"/>
                  <path class="logo-main" d="M295.4 250a45 45 0 00-76.8-31.9 45 45 0 1063.6 63.6 43.3 43.3 0 0013.2-31.8zm24.3 0q0 28.7-20.2 49t-49 20.1q-28.9 0-49-20.2t-20.2-49q0-28.8 20.2-49t49-20.2q28.8 0 49 20.2t20.2 49zm19-72a16.2 16.2 0 11-4.8-11.5 15.6 15.6 0 014.7 11.4zm-88.2-38.7l-13.5-.1h-18.5q-6.3 0-17 .5a138.3 138.3 0 00-18 1.8 70.2 70.2 0 00-12.6 3.2 46 46 0 00-25.7 25.7 70.2 70.2 0 00-3.2 12.5 138.3 138.3 0 00-1.8 18.1l-.5 17v45.4 18.5q0 6.3.5 17a138.4 138.4 0 001.8 18 70.7 70.7 0 003.2 12.6 46 46 0 0025.7 25.7 69.4 69.4 0 0012.5 3.2 138.3 138.3 0 0018.1 1.8l17 .5H237l13.5-.1h13.4q12.2.2 18.5 0t17-.4a138.4 138.4 0 0018-1.8 69.8 69.8 0 0012.6-3.3 45.9 45.9 0 0025.7-25.6 69.8 69.8 0 003.2-12.6 138.4 138.4 0 001.8-18l.5-17v-18.5-13.5-13.4V218q0-6.3-.5-17a138.3 138.3 0 00-1.8-18 69.4 69.4 0 00-3.2-12.6 46 46 0 00-25.7-25.7 70.7 70.7 0 00-12.5-3.2 138.4 138.4 0 00-18.1-1.8l-17-.5H264zm134.9 110.6q0 40.3-1 55.7-1.7 36.5-21.7 56.6T306 384q-15.4.9-55.7.9t-55.6-.9q-36.6-1.8-56.6-21.8t-21.8-56.6q-.9-15.4-.9-55.7t.9-55.7q1.8-36.5 21.8-56.5t56.6-21.8q15.4-.9 55.6-.9t55.7.9q36.6 1.7 56.6 21.8t21.8 56.5q.9 15.5.9 55.7z"/>
                </svg>
              </figure>
            </a>
          </li>
          <% end %>

          <% if data.main.youtube_link %>
          <li class="social-youtube">
            <a href="<%= data.main.youtube_link %>" target="_blank" rel="noopener" title="opens in a new tab" class="hoverable">
              <figure class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
                  <path class="circle" d="M250 10a240 240 0 0193.4 461.1A240 240 0 01156.6 29 238.6 238.6 0 01250 10m0-10a250 250 0 100 500 250 250 0 000-500z"/>
                  <path class="logo-main" d="M180.6 169.2V215h16.9v-45.8l20.4-67.2h-17.1l-11.5 44.4-12-44.4h-17.8l10.8 31.5c5.4 15.8 8.8 27.6 10.3 35.7zm97.8 122.7c-2.5 0-5 1.2-7.5 3.7v50.8c2.5 2.5 5 3.7 7.5 3.7 4.4 0 6.6-3.7 6.6-11.2v-35.6c0-7.6-2.3-11.4-6.6-11.4zm-37.8-75.7a21 21 0 0017.8-8.6c3.2-4.2 4.7-10.9 4.7-19.8v-29.5c0-9-1.5-15.6-4.7-19.8a20.7 20.7 0 00-17.8-8.6 21 21 0 00-17.8 8.6c-3.2 4.3-4.8 10.8-4.8 19.8v29.5c0 8.9 1.5 15.6 4.8 19.8a20.8 20.8 0 0017.8 8.6zm-7.3-61c0-7.8 2.4-11.7 7.3-11.7s7.3 3.9 7.3 11.7v35.4c0 7.8-2.4 11.7-7.3 11.7s-7.3-3.9-7.3-11.7v-35.4zm101.1 136.7c-5 0-7.6 3.9-7.6 11.6v7.7H342v-7.7c0-7.8-2.6-11.6-7.6-11.6zm-47.6-75.7c5.6 0 11.4-3.4 17.4-10.3v9.2h15.3v-84.2h-15.3v64.4c-3.4 4.8-6.6 7.1-9.6 7.1-2 0-3.2-1.2-3.6-3.6-.2-.5-.2-2.4-.2-5.9v-62h-15.2v66.6c0 5.9.5 10 1.4 12.5 1.5 4.2 4.9 6.2 9.8 6.2z"/>
                  <path class="logo-main" d="M344.3 227.3c-31-3.5-62.3-3.5-93.6-3.5a835 835 0 00-93.6 3.5 31.7 31.7 0 00-27 24.6c-4.4 18.9-4.4 39.6-4.4 59.1s0 40.1 4.4 59.1a31.7 31.7 0 0027 24.6c31 3.5 62.3 3.5 93.6 3.5 31.2 0 62.6 0 93.6-3.5a31.7 31.7 0 0027-24.6c4.4-18.9 4.4-39.6 4.4-59.1s0-40.1-4.3-59.1a31.8 31.8 0 00-27.1-24.6zm-147.2 39.2H179v96.1h-16.8v-96.1h-17.8v-15.7H197v15.7zm45.6 96.1h-15.1v-9.1c-6 6.9-11.7 10.2-17.3 10.2-4.9 0-8.2-2-9.7-6.2-.8-2.5-1.3-6.5-1.3-12.4v-65.9h15.1v61.4l.1 5.9c.4 2.3 1.5 3.5 3.5 3.5 3 0 6.2-2.3 9.5-7.1v-63.7h15.1v83.4zm57.4-25c0 7.7-.5 13.3-1.5 16.8-2 6.2-6.1 9.4-12.1 9.4-5.4 0-10.6-3-15.6-9.2v8.1h-15.1V250.8h15.1v36.5c4.9-6 10.1-9 15.6-9 6 0 10.1 3.2 12.1 9.4 1 3.3 1.5 8.9 1.5 16.7v33.2zm56.9-13.9h-30.2v14.8c0 7.7 2.5 11.6 7.7 11.6 3.7 0 5.9-2 6.7-6.1.1-.8.3-4.2.3-10.2H357v2.2c0 4.9-.2 8.2-.3 9.7a20.8 20.8 0 01-21.8 18c-7.9 0-13.9-2.8-18.3-8.5-3.2-4.2-4.9-10.7-4.9-19.6v-29.2c0-8.9 1.5-15.4 4.7-19.6a21.5 21.5 0 0118.1-8.5c7.6 0 13.6 2.8 17.8 8.5 3.2 4.2 4.7 10.7 4.7 19.6v17.3z"/>
                </svg>
              </figure>
              <h5><%= data.main.youtube_usertag %><small>on youtube</small></h5>
            </a>
          </li>
          <% end %>

        </ul>
      </div>

    </div> <%# .footer-extra %>
  </div> <%# .container %>

  <div class="bg-img desktop-right">
    <img src="" data-src="" alt="<%= data.main.footer_title %>" class="lazyload" />
  </div>
</section>
